@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

/* ---------------------NAVBAR------------------- */
nav .nav-mail{
    height: 107px;
    background-color:#C9E9EE;
    color: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    letter-spacing: 0.9px;
}
nav .main-nav{
    padding: 2vmin 8vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .main-nav .logo{
    height: 103px;
    width: 135px;
    /* background-color: yellow; */
    background-image: url('../Pictures/nav-logo.png');
    background-size: cover;
}
.main-nav ul{
    display: flex;
    list-style: none;
    gap: 7vmin;
    font-size: 20px;
    letter-spacing: 0.9px;
}
.main-nav ul li{
    position: relative;
}
.main-nav ul a{
    color: #343434;
    text-decoration: none;
}
.main-nav ul a::before{
    content: "";
    position: absolute;
    background-color: #D1DEFC;
    height: 3px;
    width: 0;
    top: 100%;
    transition: all 0.3s ease-in-out;
}
.main-nav ul a:hover::before{
    width: 100%;
}

/* ------------SECTION-01------------- */
.section-1{
    display: flex;
    justify-content: space-evenly;
    height: 460px;
}
.section-1 img{
    background-size:auto;
}

/* ----------SECTION-2----------------- */
.section-2{
    margin-top: 70px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2 .sec2-images img{
    object-fit: cover;
}
.sec2-content .content .numbers{
    height: 87px;
    width: 175px;
    text-align: center;
}
.numbers h1{
    font-size: 50px;
    color: #D1DEFC;
    font-weight: bolder;
}
.numbers p{
    font-size: 15px;
    letter-spacing: 0.9px;
    color: #343434;
}
.sec2-footer{
    background-image: url('../Pictures/sec2-footer.png');
    background-size: cover;
    height: 350px;
    display: flex;
    gap: 90px;
    align-items: center;
}

/* -------------SECTION-3---------------- */

.section-3 .sec3-content .content2 span{
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #343434;
    background-color:#FFFF;
    padding: 40px 70px;
}
.section-3 .three-boxes .box{
    height: 100%;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FFFF;
    font-size: 30px;
    letter-spacing: 0.9px;
    font-weight:bolder;
    opacity: 0.75;
    transition: all 0.5s ease-in-out;
}
.section-3 .three-boxes .box:hover{
    background-image: url('../Pictures/sec3-vectorbg.jpeg');
    object-fit: cover;
    opacity: 1;
}
.section-3 .three-boxes .box h1{
    position: relative;
}
.section-3 .three-boxes .box h1::before{
    content: "";
    background-color: #FFFF;
    position: absolute;
    height: 5px;
    width: 0%;
    top: 100%;
    transition: all 0.5s ease-in-out;
}
.section-3 .three-boxes .box:hover h1::before{
    width: 100%;
}

/* -----------------SECTION-4-------------------------- */
.section4 .sec4-threeboxes .three-boxes .box{
    height: 612px;
    width: 512px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.three-boxes .box img{
    height:323px;
    width: 350px;
}
.three-boxes .box h1{
    font-weight: bold;
    letter-spacing: 0.9px;
    margin-top: 40px;
    color: #454545;
}
.three-boxes .box p{
    font-weight: 400;
    letter-spacing: 0.9px;
    color: #454545;
}

/* -------------------SECTION-5------------------------- */
.section5 .sec5-img .form .inputs input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #454545;
}
.form .inputs label{
    font-weight: 400;
    letter-spacing: 0.9px;
    color: #454545;
}

/* -----------FOOTER-----------------  */
.footer .footer-content{
    display: flex;
    justify-content: space-evenly;
}
.footer .footer-content .box{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .footer-content .box li{
    list-style: none;
    font-size: 15px;
    letter-spacing: 1px;
    color: #838383;
    line-height: 50px;
}